div.nav-bar {
    margin: 40px 0 20px 0;
    padding: 5px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

/* div.side-bar {
    
} */
div.side-bar ul.nav {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    transition: width 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

div.contents {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

div.card-box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
}

div.footer {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 40px;
}

.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    color: #fff; /* Change text color to white */
}

.modal-content h5 {
    margin-bottom: 20px;
}

.modal-content .form-label {
    color: #fff; /* Make the label color white */
}

.modal-content input[type="date"] {
    color: #000; /* Set input text color to black for visibility */
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    /* The image used */
    background-image: url("https://t4.ftcdn.net/jpg/07/94/30/45/360_F_794304521_O4o0Y5UrvKtDxBNHY9utMowV2VhuhRpk.jpg");
    backdrop-filter: blur(15px);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style for icons */
i {
    color: #ffffff;
}
/* Style for User Accounts */
.account-page h3,
.account-page span,
.account-page p,
.account-page label {
    color: #ffffff;
}

.account-page .delete-button button {
    padding: 0;
}
.account-page span {
    font-size: x-large;
    margin-left: 10px;
}

.account-page img {
    border: 2px solid #ffffff;
    border-radius: 100%;
}

/* Style for TopBar */
.nav-bar img {
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

/* business style */

.businessesCard {
    background-color: #fff; /* Sets a white background for the container */
    padding: 20px; /* Optional: Adds padding */
    border-radius: 10px; /* Optional: Rounds the corners */
}
div.businessName{
    font-weight: bold;
}
img.logos{
    width: 70px;
    height: 70px;
 }




img.businesses{
    width: 200px;
    height: 125px;
    border-radius: 10px;
}


p.businessSections{
    font-weight: bold;
}
input.editBusiness {
    color:#000;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}
textarea.businessIndexDesc {
    height: 100px;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    border: none;
}


textarea.businessIndexDesc::-webkit-scrollbar {
    display: none;
}
button.updateBusiness{
    background: none;
    border: none;
    font-size: 20px;
}
 
a.backtoIndex{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
 }

/*  */

a.addBusinessbutton{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
 }
.businessesCard {
    background-color: #fff; /* Sets a white background for the container */
    padding: 20px; /* Optional: Adds padding */
    border-radius: 10px; /* Optional: Rounds the corners */
}
div.businessName{
    font-weight: bold;
}
img.logos{
    width: 70px;
    height: 70px;
 }
img.businesses{
    width: 200px;
    height: 125px;
    border-radius: 10px;
}
p.businessSections{
    font-weight: bold;
}
div.businessIndexDesc {
    height: 90px;
    overflow-y: scroll;
    scrollbar-width: none;
}


div.businessIndexDesc::-webkit-scrollbar {
    display: none;
}
button.businessDelete{
    color: #000;
    font-size: 20px;
    text-decoration: none;
    border: none;
    background: none;
 }
